html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes canvas-mounted {
  from {
    transform: translateY(20%) scale(0.4);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

canvas {
  box-shadow: -2px 2px 12px #ccc;
  animation: canvas-mounted 0.4s ease-in;
}
